{% extends 'base.html.twig' %}

{% block title %}Bienvenue à Hlib El Goula{% endblock %}

{% block body %}
    <div class="hero">
        
    </div>
    

    <div class="container mt-5">
        <h2 class="mb-4">Nos produits</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                        <a href="{{ path('affiche_produit_index') }}" class="btn btn-primary btn-lg">Voir les produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      

 
{% endblock %}
